body {
    font-family: Arial, sans-serif;
    background-color: #FFD1DC;
    color: white;
}

.container {
    width: 320px;
    margin: 100px auto;
    background-color: #FC83AC;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 8px 15px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    text-align: left;
}